@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.cdnfonts.com/css/menlo");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #272822;
  color: white;
  font-family: "Menlo", monospace;
}

.css-22elso {
  @apply mt-[6px] text-black bg-primary font-bold !important;
}

.css-dj7vzh {
  @apply py-1 !important;
}
